@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('imagens/espaco.jpg');
    background-size: cover;
}
div {
    height: 100vh;
    background-image: url('imagens/astronauta.png');
    background-repeat: no-repeat;
    background-position: center center;
}